body {
    font-size: 16px;
  }
  h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;

  }
  p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    text-decoration: line-through;
  }
  ul {
    background-color: blue;
    line-height: 20px;
    text-align: center;
    font-style: italic;
  }
  .p-ul {
    background-color: black;
  }

  #item1 {
    color: yellow;
  }

  #item2 {
    color: red;
  }

  #item3 {
    color: brown;
  }